<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Tipos de Documentos de Declaraciones Juradas',
    vista: {
      nombre: 'esc.infopefamiliar_declaraciones_juradas_tipos_documentos',
      columnas: [
        { campo: 'iInfoPeFamDecTipId', label: 'ID', orden: 1 },
        { campo: 'cInfoPeFamDecTipNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.infopefamiliar_declaraciones_juradas_tipos_documentos',
    labels: {
      iInfoPeFamDecTipId: 'ID',
      cInfoPeFamDecTipNombre: 'Nombre del Tipo de Documento'
    }
  }">
  </mantenimiento-dinamico-component>