<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Educación Tipos de Centros',
    vista: {
      nombre: 'esc.educacion_tipos_centros',
      columnas: [
        { campo: 'iEduTipCentId', label: 'ID', orden: 1 },
        { campo: 'cEduTipCentNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.educacion_tipos_centros',
    labels: {
      iEduTipCentId: 'ID',
      cEduTipCentNombre: 'Nombre del Tipo de Centro'
    }
  }">
  </mantenimiento-dinamico-component>