<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Educación Situaciones Académicas',
    vista: {
      nombre: 'esc.educacion_situaciones_academicas',
      columnas: [
        { campo: 'iEduSitAcadId', label: 'ID', orden: 1 },
        { campo: 'cEduSitAcadNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.educacion_situaciones_academicas',
    labels: {
      iEduSitAcadId: 'ID',
      cEduSitAcadNombre: 'Nombre de la Situación Académica'
    }
  }">
  </mantenimiento-dinamico-component>