<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Incorporación Tipos de Documentos',
    vista: {
      nombre: 'esc.incorporacion_tipos_documentos',
      columnas: [
        { campo: 'iIncorTipDocId', label: 'ID', orden: 1 },
        { campo: 'cIncorTipDocNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.incorporacion_tipos_documentos',
    labels: {
      iIncorTipDocId: 'ID',
      cIncorTipDocNombre: 'Nombre del Tipo de Documento'
    }
  }">
  </mantenimiento-dinamico-component>