<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Educación Tipos de Secundarias',
    vista: {
      nombre: 'esc.educacion_tipos_secundarias',
      columnas: [
        { campo: 'iEduTipoSecId', label: 'ID', orden: 1 },
        { campo: 'cEduTipoSecId', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.educacion_tipos_secundarias',
    labels: {
      iEduTipoSecId: 'ID',
      cEduTipoSecId: 'Nombre del Tipo de Secundaria'
    }
  }">
  </mantenimiento-dinamico-component>