<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Tipos de Apertura de Legajos',
    vista: {
      nombre: 'esc.tipos_apertura_legajos',
      columnas: [
        { campo: 'iTipoAperLegId', label: 'ID', orden: 1 },
        { campo: 'cTipoAperLegNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.tipos_apertura_legajos',
    labels: {
        iTipoAperLegId: 'ID',
        cTipoAperLegNombre: 'Nombre del Tipo de Apertura'
    }
  }">
</mantenimiento-dinamico-component> 