<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Educación Tipos de Participaciones',
    vista: {
      nombre: 'esc.educacion_tipos_participaciones',
      columnas: [
        { campo: 'iEduTipPartId', label: 'ID', orden: 1 },
        { campo: 'cEduTipPartNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.educacion_tipos_participaciones',
    labels: {
      iEduTipPartId: 'ID',
      cEduTipPartNombre: 'Nombre del Tipo de Participación'
    }
  }">
  </mantenimiento-dinamico-component>