<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Tipos de Beneficiarios',
    vista: {
      nombre: 'esc.tipos_beneficiarios_retenciones',
      columnas: [
        { campo: 'iTipBenRetenId', label: 'ID', orden: 1 },
        { campo: 'cTipBenRetenNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.tipos_beneficiarios_retenciones',
    labels: {
        iTipBenRetenId: 'ID',
        cTipBenRetenNombre: 'Tipos de Beneficiarios'
    }
  }">
</mantenimiento-dinamico-component> 