<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Parentescos Familiares',
    vista: {
      nombre: 'esc.infopefamiliar_familiares_parentescos',
      columnas: [
        { campo: 'iInfoPeFamParentId', label: 'ID', orden: 1 },
        { campo: 'cInfoPeFamParentNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.infopefamiliar_familiares_parentescos',
    dependencias: [],
    labels: {
      iInfoPeFamParentId: 'ID',
      cInfoPeFamParentNombre: 'Nombre del Parentesco'
    }
  }">
  </mantenimiento-dinamico-component>