<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Educación Tipos de Estudios',
    vista: {
      nombre: 'esc.educacion_tipos_estudios',
      columnas: [
        { campo: 'iEduTipEstId', label: 'ID', orden: 1 },
        { campo: 'cEduTipEstNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.educacion_tipos_estudios',
    labels: {
      iEduTipEstId: 'ID',
      cEduTipEstNombre: 'Nombre del Tipo de Estudio'
    }
  }">
  </mantenimiento-dinamico-component>