<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Jornadas Laborales',
    vista: {
      nombre: 'esc.jornadas_laborales',
      columnas: [
        { campo: 'iJorLabId', label: 'ID', orden: 1 },
        { campo: 'cJorLabNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.jornadas_laborales',
    dependencias: [],
    labels: {
      iJorLabId: 'ID',
      cJorLabNombre: 'Nombre de la Jornada Laboral'
    }
  }">
  </mantenimiento-dinamico-component>