<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Experiencias Laborales Sectores',
    vista: {
      nombre: 'esc.experencias_laborales_sectores',
      columnas: [
        { campo: 'iExpLabSecId', label: 'ID', orden: 1 },
        { campo: 'cExpLabSecNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.experencias_laborales_sectores',
    labels: {
      iExpLabSecId: 'ID',
      cExpLabSecNombre: 'Nombre del Sector'
    }
  }">
  </mantenimiento-dinamico-component>