<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Reconocimientos Tipos de Méritos',
    vista: {
      nombre: 'esc.reconocimientos_tipos_meritos',
      columnas: [
        { campo: 'iRecoTipMerId', label: 'ID', orden: 1 },
        { campo: 'cRecoTipMerNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.reconocimientos_tipos_meritos',
    dependencias: [],
    labels: {
      iRecoTipMerId: 'ID',
      cRecoTipMerNombre: 'Nombre del Tipo de Mérito'
    }
  }">
  </mantenimiento-dinamico-component>