<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Educación Tipos de Superiores',
    vista: {
      nombre: 'esc.educacion_tipos_superiores',
      columnas: [
        { campo: 'iEduTipSupId', label: 'ID', orden: 1 },
        { campo: 'cEduTipSupNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.educacion_tipos_superiores',
    labels: {
      iEduTipSupId: 'ID',
      cEduTipSupNombre: 'Nombre del Tipo de Superior'
    }
  }">
  </mantenimiento-dinamico-component>