<!-- Reemplazamos el encabezado con el componente servidor-publico -->
<app-servidor-publico></app-servidor-publico>

<!-- Reemplazar la sección de botones por mat-tab-group -->
<mat-tab-group class="mt-4">
    <mat-tab label="Desplazamientos">
        <app-desplazamientos></app-desplazamientos>
    </mat-tab>
    <mat-tab label="Ascensos">
        <app-ascensos></app-ascensos>
    </mat-tab>
    <mat-tab label="Evaluaciones de desempeño">
        <app-evaluaciones></app-evaluaciones>
    </mat-tab>
</mat-tab-group>