<div class="min-h-screen flex flex-col items-center justify-center fondo">
  

  
  <div class="w-full max-w-md p-6">
    <div class="bg-white shadow-md rounded-lg p-8">
      <img src="assets/images/logo.png" alt="Logo Moquegua" class="h-full w-auto">
      <h1 class="text-2xl font-semibold mb-8 text-center pt-8">Bienvenido</h1>
      <h2 class="text-2xl font-semibold mb-8">Inicie sesión con sus credenciales.</h2>
      <form (ngSubmit)="login()" #loginForm="ngForm" class="space-y-4">
        <!-- Campo Usuario -->
        <input 
          type="text" 
          [(ngModel)]="username"
          name="username"
          required
          placeholder="Usuario"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none"
        >

        <!-- Campo Contraseña -->
        <input 
          [type]="hidePassword ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
          required
          placeholder="Contraseña"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none"
        >

        <div class="text-center mt-4">
          <a [href]="configService.getRecuperarPasswordUrl()" class="text-blue-600 hover:text-blue-800 text-sm" target="_blank">
            ¿Olvidaste tu contraseña?
          </a>
        </div>
        <!-- Botón de Inicio de Sesión -->
        <button 
          type="submit"
          [disabled]="!loginForm.form.valid"
          class="w-full mt-6 py-2 px-4 bg-gray-200 text-gray-700 rounded-md"
        >
          INICIAR SESIÓN
        </button>
      </form>
    </div>
  </div>
</div>