<div class="min-h-screen flex flex-col items-center justify-center fondo">
  

  
  <div class="w-full max-w-md p-6">
    <div class="bg-white shadow-md rounded-lg p-8">
      <img src="assets/images/logo.png" alt="Logo Moquegua" class="h-full w-auto">
      <h1 class="text-2xl font-semibold mb-8 text-center pt-8">Bienvenido</h1>
      
      <!-- Formulario de Login -->
      <form *ngIf="!showVerificationForm" (ngSubmit)="login()" #loginForm="ngForm" class="space-y-4">
        <h2 class="text-2xl font-semibold mb-8">Inicie sesión con sus credenciales.</h2>
        
        <input 
          type="text" 
          [(ngModel)]="username"
          name="username"
          required
          placeholder="Usuario"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none"
        >

        <input 
          [type]="hidePassword ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
          required
          placeholder="Contraseña"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none"
        >

        <div class="text-center mt-4">
          <a [href]="configService.getRecuperarPasswordUrl()" class="text-blue-600 hover:text-blue-800 text-sm" target="_blank">
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <button 
          type="submit"
          [disabled]="!loginForm.form.valid || loading"
          class="w-full mt-6 py-2 px-4 bg-gray-200 text-gray-700 rounded-md"
        >
          {{ loading ? 'CARGANDO...' : 'INICIAR SESIÓN' }}
        </button>
      </form>

      <!-- Formulario de Verificación -->
      <form *ngIf="showVerificationForm" (ngSubmit)="verifyCode()" #verificationForm="ngForm" class="space-y-4">
        <h2 class="text-2xl font-semibold mb-8">Verificación de dos factores</h2>
        <p class="mb-4">Por favor, ingrese el código de verificación enviado.</p>
        
        <input 
          type="text" 
          [(ngModel)]="verificationCode"
          name="verificationCode"
          required
          maxlength="6"
          placeholder="Código de verificación"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none"
        >

        <button 
          type="submit"
          [disabled]="!verificationForm.form.valid || loading"
          class="w-full mt-6 py-2 px-4 bg-gray-200 text-gray-700 rounded-md"
        >
          {{ loading ? 'VERIFICANDO...' : 'VERIFICAR CÓDIGO' }}
        </button>
      </form>
    </div>
  </div>
</div>