<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Tipos de Comisiones Pensionarias',
    vista: {
      nombre: 'esc.tipos_comisiones_pensionarios',
      columnas: [
        { campo: 'iTipComPenId', label: 'ID', orden: 1 },
        { campo: 'TipComPenNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.tipos_comisiones_pensionarios',
    labels: {
        iTipComPenId: 'ID',
        TipComPenNombre: 'Nombre del Tipo de Comisión'
    }
  }">
</mantenimiento-dinamico-component> 