<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Tipos de Documentos de Identificación',
    vista: {
      nombre: 'esc.tipos_documentos_identificaciones',
      columnas: [
        { campo: 'iTipoDocIdenId', label: 'ID', orden: 1 },
        { campo: 'cTipoDocIdenNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.tipos_documentos_identificaciones',
    labels: {
        iTipoDocIdenId: 'ID',
        cTipoDocIdenNombre: 'Nombre del Tipo de Documento'
    }
  }">
</mantenimiento-dinamico-component> 