<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Educación Documentos Acreditaciones',
    vista: {
      nombre: 'esc.educacion_documentos_acreditaciones',
      columnas: [
        { campo: 'iEduDocAcredId', label: 'ID', orden: 1 },
        { campo: 'cEduDocAcredNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.educacion_documentos_acreditaciones',
    labels: {
      iEduDocAcredId: 'ID',
      cEduDocAcredNombre: 'Nombre del Documento'
    }
  }">
  </mantenimiento-dinamico-component>