<mantenimiento-dinamico-component [config]="{
  titulo: 'Mantenimiento: 11) Desvinculación / Administradoras de Fondos de Pensiones',
  vista: {
    nombre: 'esc.administradoras_fondos_pensiones',
    columnas: [
      {
        campo: 'iAdmFonPenId',
        label: 'ID',
        orden: 1
      },
      {
        campo: 'cAdmFonPenNombre',
        label: 'Nombre de la AFP',
        orden: 2
      }
    ]
  },
  tabla: 'esc.administradoras_fondos_pensiones',
  labels: {
    'cAdmFonPenNombre': 'Nombre de la AFP',
  }
}"></mantenimiento-dinamico-component> 