<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Modalidades Educativas',
    vista: {
      nombre: 'esc.modalidades_educativas',
      columnas: [
        { campo: 'iModEduId', label: 'ID', orden: 1 },
        { campo: 'cModEduNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.modalidades_educativas',
    dependencias: [],
    labels: {
      iModEduId: 'ID',
      cModEduNombre: 'Nombre de la Modalidad Educativa'
    }
  }">
  </mantenimiento-dinamico-component>