<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Educación Grados Alcanzados',
    vista: {
      nombre: 'esc.educacion_grados_alcanzados',
      columnas: [
        { campo: 'iEduGradAlcId', label: 'ID', orden: 1 },
        { campo: 'cEduGradAlcNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.educacion_grados_alcanzados',
    labels: {
      iEduGradAlcId: 'ID',
      cEduGradAlcNombre: 'Nombre del Grado Alcanzado'
    }
  }">
  </mantenimiento-dinamico-component>