<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Regímenes Laborales',
    vista: {
      nombre: 'esc.regimenes_laborales',
      columnas: [
        { campo: 'iRegLabId', label: 'ID', orden: 1 },
        { campo: 'cRegLabNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.regimenes_laborales',
    dependencias: [],
    labels: {
      iRegLabId: 'ID',
      cRegLabNombre: 'Nombre del Régimen Laboral'
    }
  }">
  </mantenimiento-dinamico-component>