ngx-datatable {
    border: 1px solid #ccc;
  }
  
  .datatable-header {
    background-color: #4caf50; /* Green background for header */
    color: white;
  }
  
  .datatable-row-even {
    background-color: #f9f9f9;
  }
  
  .datatable-row-odd {
    background-color: #e0e0e0;
  }
  
  .datatable-body-cell {
    padding: 10px;
    text-align: center;
  }
  