<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Situaciones Laborales',
    vista: {
      nombre: 'esc.situaciones_laborales',
      columnas: [
        { campo: 'iSitLabId', label: 'ID', orden: 1 },
        { campo: 'cSitLabNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.situaciones_laborales',
    dependencias: [],
    labels: {
      iSitLabId: 'ID',
      cSitLabNombre: 'Nombre de la Situación Laboral'
    }
  }">
  </mantenimiento-dinamico-component>