<mantenimiento-dinamico-component [config]="{
    titulo: 'Mantenimiento: General / Regímenes Pensionarios',
    vista: {
      nombre: 'esc.regimenes_pensionarios',
      columnas: [
        { campo: 'iRegPenId', label: 'ID', orden: 1 },
        { campo: 'cRegPenNombre', label: 'Nombre', orden: 2 }
      ]
    },
    tabla: 'esc.regimenes_pensionarios',
    dependencias: [],
    labels: {
      iRegPenId: 'ID',
      cRegPenNombre: 'Nombre del Régimen Pensionario'
    }
  }">
  </mantenimiento-dinamico-component>